
/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}

body { background: #FFF; color: #000; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif;}
address,caption,dfn,th,var,cite,code,i,em,s,label,input,select,textarea{font-style:normal;font-weight:normal;font-family:inherit;}
input[type="submit"],input[type="reset"],input[type="button"]{cursor:pointer;}
select,input,textarea{font-family:inherit;margin:0;}
li { list-style:none;}
ul{margin: 0}
img { border:none; background:none;}
a { text-decoration:none;blr:expression(this.onFocus=this.blur());outline: none;}
p:hover{cursor:default}
a:hover { text-decoration:none; cursor: pointer}
a:link{color: #fff;text-decoration:none;}
a:visited{color: #fff;text-decoration:none;}
a:active{color: #fff;text-decoration:none;}
table { border-spacing:0; border-collapse:collapse;}
.flt{float: left;}
.frt{float: right;}
input{outline: none;}
select { border: 1px solid #f1f1f1;appearance:none;-moz-appearance:none;-webkit-appearance:none;
background: url(../images/224.png) no-repeat scroll right center transparent;
padding-right: 14px;}
select:-ms-expand { display: none; }


html{overflow-x:visible;overflow-y:scroll;}
.clearfix:after{content: '.';display: block;line-height: 0%;height:0%;visibility: hidden;clear:both;}
.clearfix{zoom: 1;}
.all{width: 100%;min-width:1360px;text-align: center;z-index: 0;margin: 0 auto}
 
 /*头部*/
.flr{
    float: right;
    margin-right:16px;
}
.content{
    width: 100%;
    height: auto;
    background: url(../images/666.png);
    *overflow: hidden;
    overflow: hidden;
    z-index: 2;
    margin: 0 auto
}
.header{
    width: 100%;
    height: 420px;
    position: relative;
}
.nav{
    width: 84%;
    height: 60px;
    background: url(../images/top-b1.png);
    padding: 0px 120px;
    color: #fff;
}
.nav a:hover{
    color: #1299e1
}
.navl{
    float: left;
    margin-right: 20px
}
.navr{
    float: left;
    position: relative;
    z-index: 1002;
}
.login{
    float: right;
    line-height: 60px;
    font-size: 14px;
    margin-right: 50px;
}
.navr ul{
    margin-top: 0px;
}
.nav1 li{
    display: inline-block;
    width: 100px;
    height: 60px;
    *height: 60px;
    _height:60px;
    font-size: 18px;
    z-index: 1001;
    *zoom:1; 
    *display:inline;
    float:none;
}

.bimg{
    margin: 0 16px 0 21px;
    position: relative;
    top: 2px;
    float: left;
    vertical-align: bottom;
}
.aimg{
    right: -7px;
    float: right;
}

.nav1 li:hover{
    background: #090c0f;
}
.nav1 li:hover .nav2{
    display: block;
}
.atxt {
    text-align: center;
    outline: none;
}
.nav2{
    width: 228px;
    height: 403px;
    z-index: 33;
    background: #000;
    position: absolute;
    top: 60px;
    left: 0px;
    display: none;
    padding-top: 10px;
    background: rgba(0,0,0,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
}
.nav2 li{
    width: 100%;
    height: 40px;
    font-size:16px;
    line-height: 45px;
    text-align: left;
    *zoom:1; 
    *display:inline;
    float:none;
}

.nav2 li p:hover{
    color:#1299e1 
}
.nav2 li a{
    line-height: 45px;
}
.atxt a{
    height: 60px;
    line-height: 60px;
}
.nav2 li:hover .nav3{
    zoom:1;
    display: block;
}
.a-txt:hover{
    text-decoration: underline;
}
.txt3{
    margin-right: 0;
}
.nav3{
    position: absolute;
    left: 227px;
    top:0px;
    width: 300%;
    height: 400px;
    background: #000;
    border-left: 1px solid #3e3e3e;
    display: none;
    padding-top: 13px;
    background: rgba(0,0,0,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
}
.nav3 p{
    width: 95%;
    height: 35px;
    line-height: 25px;
    text-align: left;
}
.nav3 p{
    *zoom:1;
    *display:inline;
    float:none;
}
.nav3 p a{
    line-height: 35px
}
.atxt2{
    padding-left: 20px;
    display: inline-block;
}
.atxt2 a{
    line-height: 20px;
    margin-right: 20px;
}
.atxt2 span{
    width: 90%;
    display: inline-block;
}
.nav3 span{
    font-size: 12px;
    color: #c2c4c5;
}
.bdrbox{
    border-top: 1px solid #3e3e3e;
    width: 90%;
    margin-left: 16px;
}
.bdrbox1{
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    width: 90%;
    padding-left: 16px;
}
.bdrbox2{
    border-bottom: 1px solid #3e3e3e;
    width: 90%;
    margin-left: 16px;
}
.bdrbox3{
    border-bottom: 1px solid #3e3e3e;
    width: 85%;
    height: 5px;
    margin-left: 16px;
}

/*轮播*/
.focus{
    width: 100%;
    height: 632px;
    overflow: hidden;
    position: relative;
    background: #1299e1;
}
.focus-a{
    width: 100%;
    height: 100%;
}
.focus-b a.current{
    background: #fff;
    border:1px solid #a5a5a5;
    width: 17px;
    height: 4px;
}
.focus-b{
    position: absolute;
    left: 600px;
    bottom: 125px;
}
.ac_slider{
    display: inline-block;
    width: 17px;
    height: 4px;
    background: #a5a5a5;
    border:1px solid #a5a5a5;
    margin-left: 10px;
}
.ipt{
    position: absolute;
    bottom:-272px;
    width: 92%;
    height: 124px;
    padding-left: 120px;
    background: rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000),alpha(opacity=50);
    -moz-opacity:0.5;   
    -khtml-opacity: 0.5;  
}
.iptl{
    width: 12%;
    height: 100%;
    line-height: 120px;
    font-size: 24px;
    color: #fff;
    z-index: 7777;
    float: left;
    margin-left: 40px;
}
.iptr{
    float: left;
    margin-left: 20px;
    text-align:left;
    z-index: 7777
}
.iptr-b{
    width: 100%;
    height: 30px;
}
.iptr-t ul li,.iptr-b ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    line-height: 40px;
    font-size: 12px;
    zoom:1; 
    *display:inline;
    float:none;
}
.txt{
    width: 350px;
    height: 45px;
    border-radius: 5px 0 0 5px;
    border: none;
    float: left;
    font-size: 18px;
    padding: 0px 10px;
    line-height: 15px;
}
.img3{
    height:45px;
    _height:48px; 
    *height:48px;
    float: left;
    border:0;
}
.iptr-c{
    width: 100%;
    height: 45px;
    z-index: 8888
}
.iptr-c a{
    width: 125px;
    height: 45px;
}
.select_down{
    width: 125px;
    height:43px;
    _height:47px; 
    *height:47px;
    float: left;
    font-size: 20px;
    border:1px solid #f1f1f1;
    color: #1299e1;
    z-index: 9000;
}
.select_down dt{
    float:left;
    width:125px;
    position:relative;
    display:inline; 
    z-index: 9999;
    background: #f1f1f1
}
.select_down h3{
    color: #1299e1; 
    font-size:18px;
    font-weight: normal;
    height:43px;
    _height:47px; 
    *height:47px;
    line-height: 43px;
    background:#f1f1f1;
    padding: 0 10px;
    float: left;
    z-index: 10000
}
.select_down ul{
    width: 125px;
    *height:auto;
    border: 1px solid #1299e1;
    background:#fff;
    position: absolute;
    top: 43px;
    left: 0;
    z-index:9999;
    display:none;
}
.select_down ul li{
    width: 105px;
    height:30px;
    line-height: 30px;
    cursor:pointer;
    z-index: 10001;
    padding: 0px 10px;
    background: #fff
}
.select_down ul li{
    zoom:1; 
    *display:inline;
    float:none;
}
.select_down ul li.hover{
    background:#1299e1;
    color: #fff
}
.cular{
    width:92%;
    height: 33px;
    padding-left:120px;
    background: #1299e1;
    text-align: left;
    z-index: 1}
.cular ul li{
    display: inline-block;
    color: #fff;
    font-size: 10px;
    margin-right: 40px;
    line-height: 40px;
}
.cular ul li{
    zoom:1;
     *display:inline;
     float:none;
     color: #fff;
     font-size: 10px;
     margin-right: 40px;
     line-height: 40px;
 }
.cular ul li a{
    color: #fff
}
.cular ul li a:hover{
    color: #fff
}

/*主体 互联网顾问*/
.bodybox{
    width: 100%;
    height: 800px;
    margin:320px auto 0px;
    background-image:url(../images/9.png);
    background-repeat: no-repeat;
    background-position: center 100px;
    position: relative;
    z-index: 0;
}
.news{
    width: 100%;
    height: 768px;
    position: relative;
    margin:0 auto;
}
.bodyt{
    width: 1183px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin: 0 auto
}
.bodyb{
    width: 1142px;
    height: 500px;
    margin:80px auto;
    text-align: center;
}
.choose{
    width: 529px;
    height: 44px;
    border: 2px solid #686868;
    background: #fff;
    z-index: 0;
    float: left;
}
.choose ul li{
    display: inline-block;
    width: 130px;
    height: 44px;
    background: #686868;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-left: 3px;
    position: relative;
    z-index: 0
}
.choose ul li{
    *zoom:1;
    *display:inline;
    float:none;
}
.choose ul li a{
    font-size: 24px;
    position: relative;
}
.choose ul li:first-child {
    color: #000;
    border-bottom: none;
    background: #fff;
}
#s1{
    margin-left: 0px;
}
.choose ul li:first-child .div2{
    display: block;
}
.buy{
    width: 1140px;
    height: 444px;
    border: 2px solid #686868;
    overflow: hidden;
    float: left;
}
.choose ul li:hover .buy{
    display: block;
}
.div2{
    width: 133px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 999;
    display: none;
}
.txtbox{
    padding: 40px 40px 0 40px;
    background: #fff;
    background-image: url(../images/2.jpg) ;
    background-repeat: no-repeat;
    background-position: 40px 10px;
    text-align: left;
}
.boximg{
    background-image: url(../images/22.png) ;
    background-repeat: no-repeat;
    background-position: 40px 10px;
}
.boximg1{
    background-image: url(../images/23.png) ;
    background-repeat: no-repeat;
    background-position: 40px 10px;
}

.buybox{
    width: 284px;
    height: 435px;
    border-left: 1px solid #dddddd;
    float: left;
}
.first{
    border:none;
}
.txtbox p{
    font-size: 14px;
    line-height: 35px;
}
.txtbox p span{
    font-size: 18px;
    color: red
}
.name{
    width: 1139px;
    height: 444px;
    background: #fff;
}
.name1{
    width: 1079px;
    height: 444px;
    margin: 0 auto;
    background: url(../images/img8.png) no-repeat 0px 10px;
}


.side{
    width: 40px;
    height: 200px;
    position: fixed;
    right: 10px;
    bottom: 260px;
    z-index: 9999
}
.side ul li{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    background: #1299e1;
    margin-top:10px;
    background: url(../images/css1.png);
}
.side ul li{
    *zoom:1; 
    *display:inline;
    float:none;
}
.side ul li img{
    margin-top: 10px;
}





/*@media (min-width: 1920px) {
    .header{width: 100%;height:750px;}
    .focus{width: 100%;height: 962px;}
    .nav{width: 1680px;}
    .ipt{width: 1680px;}
    .bodybox{width: 1680px;}
    .footbox{width: 100%;}
    .cular{width: 1680px;}
    .middle{width: 1680px;}
    .goodness{width: 1680px;}
    .bodyt{width: 1680px;}
    .foott{width: 100%;background-size: cover;}

}
*/